@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@


<main id="main" class="about">
    <div class="container">
        <h1>ABOUT US</h1>
    </div>
    <div class="choose">
        <div class="container">
            <h2>Why Choose Leopard CAB?</h2>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/images/meter.jpg" class="img-circle" alt="img" class="img-responsive">
                        </div>
                        <div class="ol-sm-9">
                            <p>With CAB Meter System We Provide A trutable Price and ensure complete transparency. The Passenger can see the price at all times through our CAB meter installed inside</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/images/24-7.png" alt="img" class="img-circle" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <p>With the help of Navigation and GPS Sytem, all CABs are monitored 24 hours, to faciliate a safe journey for our passengers.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/images/quick_response_monitoring.jpg" alt="img" class="img-circle" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <p>We offer easy and quick access through our 24 hours Call Center and Smart Phone App</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/images/smartphone.jpg" alt="img" class="img-circle" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <p>You can share Leopard CAB with your friends/family to share the cost. We only charge per ride.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/images/navigation.jpg" alt="img" class="img-circle" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <p>Our vehicles are fully air-conditioned to provide a comfortable journey.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-3">
                            <img src="~/images/car-rental (1).jpg" alt="img" class="img-circle" class="img-responsive">
                        </div>
                        <div class="col-sm-9">
                            <p>Our drivers are fully trained to ensure secure and safe travel of our passengers.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>