@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<main id="main" class="contacts">
    <div class="container">
        <h1>CONTAC US</h1>
        <div class="fontss">
            <div class="col-sm-4">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <div class="text">
                    <span>Book on Call</span>
                    <a href="#">(042) 111-222-333</a>
                </div>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <div class="text">
                    <span>Have Any Questions?</span>
                    <a href="#">leopardtaxi@gmail.com</a>
                </div>
            </div>
            <div class="col-sm-4">
                <i class="fa fa-globe" aria-hidden="true"></i>
                <div class="text">
                    <span>Website</span>
                    <a href="#">www.leopardtaxt.com.pk</a>
                </div>
            </div>
        </div>
    </div>
</main>