
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="services">
    <div class="container">
        <div class="online-booking">
            <div class="cab">
                <a href="#">CAB Service</a>
            </div>
            <div class="rent">
                <a href="#">Rent a CAR</a>
            </div>
        </div>
        <div class="service">
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/meter.jpg"  alt="img" class="img-circle img-responsive">
                    <h3> Taxi Meter for Fare Calculation</h3>
                </div>
                <div class="col-sm-4">
                    <img src="~/images/24-7.png" alt="img" class="img-circle img-responsive">
                    <h3>24/7 Call Center</h3>
                </div>
                <div class="col-sm-4">
                    <img src="~/images/smartphone.jpg" alt="img" class="img-circle img-responsive">
                    <h3>Wasy to Call With Smart Phone App</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="~/images/quick_response_monitoring.jpg" alt="img" class="img-circle img-responsive">
                    <h3>Quick Response to Passenger's Call</h3>
                </div>
                <div class="col-sm-4">
                    <img src="~/images/navigation.jpg" alt="img" class="img-circle img-responsive">
                    <h3>Navigation Guide on Every Cab</h3>
                </div>
                <div class="col-sm-4">
                    <img src="~/images/car-rental (1).jpg" alt="img" class="img-circle img-responsive">
                    <h3>Rent A Car</h3>
                </div>
            </div>
        </div>
    </div>
</main>

